@import '../../style/vars.scss';

.login {
    display: flex;
    font-size: 18px;

    a {
        color: $lightFontColor;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        color: $lightBlue;
    }
}