@import '../../style/vars.scss';

.login {
    display: flex;
    font-size: 18px;

    button {
        font-size: 18px;
        background-color: $darkBlue;
        color: $lightFontColor;
    

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: $lightBlue;
    }
}
}