@import '../../style/vars.scss';


.container{
    min-height: 100%;
    min-width: 100%;
}

.header {
    padding: 20px 0;
    width: 100%;
    background-color: $darkBlue;
    color: $lightFontColor;

    .container {
        @include box();
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    ul{
        min-width: 300px;
        display: flex;
        justify-content: space-between;
    }

    a {
        color: $lightFontColor;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        color: $lightBlue;
    }
}
