@import '../app/app.module.scss';
@import '../../style/vars.scss';

.container{
    @include flexPart(row, center);
    height: 15vh;
    width: 100%;
    background-color: $darkBlue;
    color: $lightFontColor;
}