@import '../app/app.module.scss';
@import '../../style/vars.scss';

.footer{
    margin-bottom: -100px;
    padding: 25px 0;
    width: 100%;
    background-color: $darkBlue;
    color: $lightFontColor;

    .container{
        @include box();
    }
    
    .row{
        display: flex;
        justify-content: center;
    }
}