@import '../../pages/app/app.module.scss';
@import '../../style/vars.scss';

.footer{
    padding: 25px 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $darkBlue;
    color: $lightFontColor;
    

    .container{
        @include box();
    }
    
    .row{
        display: flex;
        justify-content: center;
    }
}