@import '../app/app.module.scss';
@import '../../style/vars.scss';

.container{
    @include flexPart(column, flex-start);
    justify-content: flex-start;
    min-height: 65vh;
    width: 100%;
    background-color: $lightBlue;
    color: $darkFontColor;
}