@import '../app/app.module.scss';
@import '../../style/vars.scss';

.header {
    padding: 20px 0;
    width: 100%;
    background-color: $darkBlue;
    color: $lightFontColor;

    .container {
        @include box();
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}