@import '../../pages/app/app.module.scss';
@import '../../style/vars.scss';

.header {
    // position: sticky;
    // top: 0;
    // left: 0;
    padding: 20px 0;
    width: 100%;
    height: 20vh;
    background-color: $darkBlue;
    color: $lightFontColor;

    .container {
        @include box();
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}