$darkBlue: rgb(53, 53, 106);
$lightBlue: #c6c6f2;
$backgroundTable: rgb(216, 216, 244);
$darkFontColor: rgb(13, 1, 1);
$lightFontColor: rgb(239, 227, 227);

@mixin flexPart ($direction, $aligh) {
    display: flex;
    justify-content: center;
    align-items: $aligh;
    flex-direction: $direction;
}

