@import '../../style/vars.scss';
@font-face {
    font-family: Imported;
    src: url(../../fonts/Niconne-Regular.ttf);
}

.logo {
    display: flex;
    align-items: center;

    img {
        height: 90px;
        width: 90px;
    }

    span {
        margin-left: 10px;
        font-family: Imported;
        font-size: 40px;
    }

}