@import '../app/app.module.scss';
@import '../../style/vars.scss';

.game{
    width: 100%;
    min-height: 60vh;
    background-color: $lightBlue;
    color: $darkFontColor;

    .container{
        @include box();
        padding: 100px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}